body {
  overflow-x: hidden;
}

.header {
  height: 90px;
  @include mobile {
    display: flex;
    justify-content: center;
  }

  svg {
    margin-left: 30px;
    margin-top: 20px;
    height: 40px;

    cursor: pointer;
    transition: fill 0.5s, transform 0.5s;
    fill: white;
    @include mobile {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
  svg:hover {
    transform: translateY(-5px);
  }

  svg:hover:nth-child(1) {
    fill: $github-color;
  }

  svg:hover:nth-child(2) {
    fill: $twiter-color;
  }
  svg:hover:nth-child(3) {
    fill: $insta-color;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: $principal-blue;
  clip-path: circle(80% at 10% 50%);
  transition: clip-path 1s;
  @include mobile {
    clip-path: circle(80% at 50% 10%);
  }
}

.name {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";

  &__first {
    color: $seconde-blue;
    font-weight: 600;
    line-height: 100px;
    margin-bottom: 20px;
    font-size: 96px;
  }
  &__last {
    color: $tertiary-blue;
    font-size: 64px;
    font-weight: 500;
  }
  &__project {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: $tertiary-blue;
    cursor: pointer;
    text-shadow: 1px 2px 3px $seconde-blue;
    transition: transform 0.5s;
  }
  &__project:hover {
    transform: translateX(50px);
  }
}
.full {
  clip-path: circle(100%);
}

.slide-project {
  animation: slide-right 2s;
}

.fill-blue {
  background-color: $principal-blue;
}
