.load {
  .background-load {
    width: 100vw;
    height: 100vh;
    background-color: $principal-blue;
    clip-path: circle(80% at 10% 50%);
    animation: load-animation-desktop 1.5s ease-out;
    will-change: clip-path;
    @include mobile {
      animation: load-animation-mobile 1.5s;
      clip-path: circle(80% at 50% 10%);
    }
  }
}
